.header {
    background-color: rgb(150, 56, 47);
    padding: 0px;
    text-align: right;
    user-select: none;
}

.nav-link {
    color: black;
    border-radius: 6px 6px 0px 0px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgb(150, 56, 47) 50%, white 50%);
    transition: 0.2s;
}

.nav-link:hover {
    background-position: 0 100%;
    color: black;
}

footer {
    height: 140px;
    background-color: black;
    color: white;
    padding: 10px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
}